<configuration>
   <system.runtime.remoting>
      <application>
      	<lifetime
      		leaseTime="5S"
      		sponsorshipTimeout="5S"
      		renewOnCallTime="5M"
      		leaseManagerPollTime="3M"
      		/>
         <channels>
				<channel 
					type="Belikov.GenuineChannels.DotNetRemotingLayer.GenuineTcpServerChannel, GenuineChannels"
					MaxContentSize="500000"
               PingTimeOut="1000"
               MaxQueuedItems="1000"
               MaxTotalSize="10000"
					port="8737"
               TimeoutToRememberClient="15000"
					 />
         </channels>
      </application>
   </system.runtime.remoting>
</configuration>
