<configuration>
   <system.runtime.remoting>
      <application>
      	<lifetime
      		leaseTime="1H"
      		sponsorshipTimeout="1H"
      		renewOnCallTime="1H"
      		leaseManagerPollTime="1H"
      		/>

         <client>
            <wellknown 
               type="KnownObjects.ChatRoom, KnownObjects"
               url="gtcp://127.0.0.1:8737/ChatRoom.rem"
            />
         </client>

         <channels>
         	<channel type="Belikov.GenuineChannels.DotNetRemotingLayer.GenuineTcpClientChannel, GenuineChannels"
					MaxContentSize="500000"
					Compression="true"
               PingTimeOut="1000"
               MaxQueuedItems="100"
               MaxTotalSize="10000"
               ReconnectionTries="1000"
					SleepBetweenReconnection="500"
               MaxTimeSpanToReconnect="240000"
               >


					<serverProviders>
						<provider
							type="Belikov.GenuineChannels.DotNetRemotingLayer.GenuineBroadcastInterceptorServerSinkProvider, GenuineChannels"
						/>
						<formatter ref="binary" />
					</serverProviders>

           </channel>

         </channels>
      </application>
   </system.runtime.remoting>
</configuration>
